@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
 body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   background-color: #00d0ff;
}  
 /*wrapper css   */
.wrapper{
    width: 65vmin;
    border-radius: 5px;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: rgb(2, 81, 228);
}
.game-details{
    color: aqua;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
.play-board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    background:#4504f7;
}
.play-board .food{
    background: #ff003d;
}

.play-board .head{
    background: #00d0ff;
}

.keys 
{
    font-family: 'Lato', sans-serif;    
    text-align: center;
    width: 500px;
    height: 200px;
    margin: auto;
    display: none;
   
  }
  
  .arr {
    cursor: pointer;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background: rgb(3, 175, 255);
    color: white;
    font-size: 50px;
    border-right: 10px solid darken(grey, 20);
    border-bottom: 10px solid darken(grey, 20);
    border-left: 10px solid darken(grey, 15);
    border-top: 10px solid darken(grey, 10);  
    display: inline-block;
    margin: 5px;
    transition: all .05s linear;
    &:active {
      border-bottom: 8px solid darken(grey, 20);
      text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;    
      transform: translate(0, 2px);
    }
    user-select: none;
  }
  

@media screen and (max-width: 768px )
{
    .wrapper
    {
        width: 90vmin;
        height: 115vmin;
    }    
    .game-details
    {
        font-size: 1rem;
        padding: 15px 27px;
    }
    .keys
    {
        display:block;
    }
}